<div class="row clearfix" style="padding-top: 60px">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Registrar Categoria</h2>
            </div>
            <div class="body">
                <form #formcategoria=ngForm (ngSubmit)="onsubmit()">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" #name_categoria="ngModel" [(ngModel)]="categoria.nombre" class="form-control" name="name_categoria" placeholder="Ingrese nombre de la categoria" required>
                        </div>
                    </div>
                    <button class="btn btn-primary waves-effect" type="submit" [disabled]="!formcategoria.form.valid">GUARDAR</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- #END# Advanced Validation -->