<div class="row clearfix" style="padding-top: 60px">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Registrar Departamento</h2>
            </div>
            <div class="body">
                <form #formdepartamento=ngForm (ngSubmit)="onsubmit()">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <select class="form-control show-tick" #npais="ngModel" [(ngModel)]="departamento.npais" [ngModelOptions]="{standalone: true}" required>
                                <option value="">-- Elija el país --</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" #nombre="ngModel" [(ngModel)]="departamento.nombre" class="form-control" name="ndepartamento" placeholder="Ingrese nombre del departamento" required>
                            
                        </div>
                    </div>
                    
                    <button class="btn btn-primary waves-effect" type="submit" [disabled]="!formdepartamento.valid">GUARDAR</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- #END# Advanced Validation -->