<div class="row clearfix" style="padding-top: 60px">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Registrar Caja</h2>
            </div>
            <div class="body">
                <form #formcaja=ngForm (ngSubmit)="onsubmit()">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control"  name="ncaja" #ncaja="ngModel" [(ngModel)]="caja.nombre" required placeholder="Ingrese nombre de la caja">
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <select class="form-control show-tick" #selcom="ngModel" [(ngModel)]="caja.comercio" (ngModelChange)="onSelectioncomercio()" [ngModelOptions]="{standalone: true}">
                                <option value="" >-- Elija el Comercio --</option>
                                <option *ngFor="let item of scomercio" value={{item.id_comercio}}>{{item.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row clearfix" *ngIf="ssucursal">
                        <div class="col-sm-12">
                            <select class="form-control show-tick" name="selsuc" #selsuc="ngModel" [(ngModel)]="caja.sucursal" [ngModelOptions]="{standalone: true}">
                                <option value="" >-- Elija la Sucursal --</option>
                                <option *ngFor="let item of ssucursal" value={{item.id_sucursal}}>{{item.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row clearfix" *ngIf="!ssucursal">
                        <div class="col-sm-12">
                            <select class="form-control show-tick" name="selsuc" #selsuc="ngModel" [(ngModel)]="caja.sucursal" [ngModelOptions]="{standalone: true}">
                                <option value="" >-- Elija la Sucursal --</option>
                                <option *ngFor="let item of ssucursal" value={{item.id_sucursal}}>{{item.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-primary waves-effect" type="submit" [disabled]="!formcaja.form.valid">GUARDAR</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- #END# Advanced Validation -->