<div class="row clearfix" style="padding-top: 60px">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Registrar Sucursal</h2>
            </div>
            <div class="body">
                    <form #formsucursal=ngForm (ngSubmit)="onsubmit(formsucursal)">
                            <div class="row clearfix">
                                    <div class="col-sm-12">
                                      <select class="form-control show-tick" name="selcomercio" #selcomercio="ngModel" [(ngModel)]="sucursal.ncomercio" [ngModelOptions]="{standalone: true}" required>
                                        <option value="">-- Elija el comercio --</option>
                                        <option *ngFor="let item of scomercio" value={{item.id_comercio}}>{{item.nombre}}</option>
                                      </select>
                                    </div>
                                  </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <span *ngIf="!name_sucursal.valid && name_sucursal.touched" class="label label-danger">El nombre es obligatorio y no acepta números</span>
                                <input type="text" #name_sucursal="ngModel" [(ngModel)]="sucursal.nombre" class="form-control" name="name_sucursal" placeholder="Ingrese nombre de la sucursal" minlength="3" pattern="^[a-zA-ZáéíóúÁÉÍÓÚ\u00F1\u00D1 ]+$" required>
                            </div>
                        </div>
                        <div class="row clearfix">
                                <div class="col-sm-12">
                                    <select class="form-control show-tick" name="selectpais" #selectpais="ngModel" [(ngModel)]="sucursal.npais" (ngModelChange)="onSelectionpais()" [ngModelOptions]="{standalone: true}" required>
                                        <option value="">-- Elija el País --</option>
                                        <option *ngFor="let item of spais" value={{item.id_pais}}>{{item.nombre}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row clearfix" *ngIf="sdepartamento">
                                <div class="col-sm-12">
                                    <select class="form-control show-tick"  name="selectdpto" #selectdpto="ngModel" [(ngModel)]="sucursal.ndep" (ngModelChange)="onSelectiondepartamento()" [ngModelOptions]="{standalone: true}" required>
                                        <option value="">-- Elija el Departamento --</option>
                                        <option *ngFor="let item of sdepartamento" value={{item.id_departamento}}>{{item.nombre}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row clearfix" *ngIf="!sdepartamento">
                                <div class="col-sm-12">
                                    <select class="form-control show-tick"  name="selectdpto" #selectdpto="ngModel" [(ngModel)]="sucursal.ndep" [ngModelOptions]="{standalone: true}" required>
                                        <option value="">-- Elija el Departamento --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row clearfix" *ngIf="sciudad">
                                <div class="col-sm-12">
                                    <select class="form-control show-tick" name="selectciudad" #selectciudad="ngModel" [(ngModel)]="sucursal.nciu" [ngModelOptions]="{standalone: true}" required>
                                        <option value="">-- Elija la Ciudad --</option>
                                        <option *ngFor="let item of sciudad" value={{item.id_ciudad}}>{{item.nombre}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row clearfix" *ngIf="!sciudad">
                                <div class="col-sm-12">
                                    <select class="form-control show-tick" name="selectciudad" #selectciudad="ngModel" [(ngModel)]="sucursal.nciu" [ngModelOptions]="{standalone: true}" required>
                                        <option value="">-- Elija la Ciudad --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <span *ngIf="!address.valid && address.touched" class="label label-danger">La dirección es obligatorio</span>
                                    <input type="text" class="form-control" name="address" #address="ngModel" [(ngModel)]="sucursal.dirsucu" placeholder="Ingrese dirección" required>
                                </div>
                            </div>
                        <button class="btn btn-primary waves-effect" type="submit" [disabled]="!formsucursal.form.valid">GUARDAR</button>
                    </form>
            </div>
        </div>
    </div>
</div>
<!-- #END# Advanced Validation -->
