<div class="row clearfix" style="padding-top: 60px">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
          <div class="header">
              <div class="row">
                  <div class="col-sm-8"><h2>Departamentos Registrados</h2></div>
                  <div class="col-sm-4"><button class="btn btn-primary waves-effect"  type="submit" (click)="actualizar()">ACTUALIZAR</button></div>
              </div>
          </div>
          <div class="body table-responsive">
              <table class="table table-striped">
                  <thead>
                      <tr>
                      <th>Nombre del País</th>
                      <th>Nombre del Departamento</th>
                      <th style="text-align: center">Acciones</th>
                      </tr>
                  </thead>
                  <tbody >
                      <tr *ngFor="let item of sdepartamento">
                          <td>{{item.pais}}</td>
                          <td>{{item.nombre}}</td>
                          <td style="text-align: center"><button class="btn btn-primary" type="submit" (click)="modificar(item.id_departamento)">editar</button>&nbsp;<button class="btn btn-danger" type="submit" (click)="eliminar(item.id_departamento)">eliminar</button></td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>