

<div class="row clearfix" style="padding-top: 60px">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Registrar Tipo de Cuenta</h2>
            </div>
            <div class="body">
                <form #formtipocuenta=ngForm (ngSubmit)="onsubmit(formtipocuenta)">
                    <div class="form-group form-float">
                        <div class="form-line">
                                <span *ngIf="!name_cuenta.valid && name_cuenta.touched" class="label label-danger">El nombre es obligatorio y no acepta números</span>
                            <input type="text" #name_cuenta="ngModel" [(ngModel)]="tipocuenta.nombre" placeholder="Digite el tipo cuenta" class="form-control" name="name_cuenta" minlength="3" pattern="^[a-zA-ZáéíóúÁÉÍÓÚ\u00F1\u00D1 ]+$" required>
                        </div>
                    </div>
                    <button class="btn btn-primary waves-effect" type="submit" [disabled]="!formtipocuenta.valid">GUARDAR</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- #END# Advanced Validation -->
<app-mostrartipocuenta></app-mostrartipocuenta>