<div class="row clearfix" style="padding-top: 60px">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Registrar Iva</h2>
            </div>
            <div class="body">
                <form #formiva=ngForm (ngSubmit)="onsubmit()" >
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="number" #valor="ngModel" [(ngModel)]="iva.valor" placeholder="Ingrese el valor del IVA" class="form-control" name="viva"  required>
                        </div>
                    </div>
                    <button class="btn btn-primary waves-effect" type="submit" [disabled]="!formiva.form.valid">GUARDAR</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- #END# Advanced Validation -->