<div class="row clearfix" style="padding-top: 60px">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Registrar Orden</h2>
            </div>
            <div class="body">
                <form id="guardarorden" method="POST">
                  <div class="row clearfix" style="padding-top: 60px">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Registrar Deducción</h2>
            </div>
            <div class="body">
                <form id="guardardeduccion" method="POST">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <select class="form-control show-tick">
                                <option value="">-- Elija la moneda a recibir --</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="cvendedor" maxlength="10" minlength="3" required>
                            <label class="form-label">Ingrese cedula vendedor</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="datetime" class="form-control" name="forden" required>
                            <label class="form-label">Ingrese la fecha de la orden</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="number" class="form-control" name="cantcryto" required>
                            <label class="form-label">Ingrese la cantidad en crytomonedas</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="number" class="form-control" name="cantpeso" required>
                            <label class="form-label">Ingrese la cantidad en pesos</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="dbilletera" required>
                            <label class="form-label">Ingrese la dirección de la billetera</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="datetime" class="form-control" name="ivap" required>
                            <label class="form-label">Ingrese el iva a cobrar</label>
                        </div>
                        <div class="help-info">En porcentaje (%)</div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="datetime" class="form-control" name="ivap" required>
                            <label class="form-label">Ingrese el porcentaje comisión</label>
                        </div>
                        <div class="help-info">En porcentaje (%)</div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="datetime" class="form-control" name="vcomision" required>
                            <label class="form-label">Ingrese valor fijo de la comisión</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="datetime" class="form-control" name="ivacomision" required>
                            <label class="form-label">Ingrese el iva de la comisión</label>
                        </div>
                        <div class="help-info">En porcentaje (%)</div>
                    </div>
                    <button class="btn btn-primary waves-effect" type="submit">GUARDAR</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- #END# Advanced Validation -->
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="ndeduccion" maxlength="10" minlength="3" required>
                            <label class="form-label">Ingrese nombre de la deducción</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="number" class="form-control" name="vdeduccion" required>
                            <label class="form-label">Ingrese el valor de la deducción</label>
                        </div>
                        <div class="help-info">En porcentaje (%)</div>
                    </div>
                    <button class="btn btn-primary waves-effect" type="submit">GUARDAR</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- #END# Advanced Validation -->