<div class="row clearfix" style="padding-top: 60px">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Registrar Estado Requisito</h2>
            </div>
            <div class="body">
                <form #formestadorequisito=ngForm (ngSubmit)="onsubmit()">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="nestreq" #nombre="ngModel" [(ngModel)]="estadorequisito.nombre" placeholder="Ingrese el nombre del estado"  required>
                            <label class="form-label"></label>
                        </div>
                    </div>
                    <button class="btn btn-primary waves-effect" type="submit" [disabled]="!formestadorequisito.valid">GUARDAR</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- #END# Advanced Validation -->