<div class="row clearfix" style="padding-top: 60px">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Registrar País</h2>
            </div>
            <div class="body">
                <form #formpais=ngForm (ngSubmit)="onsubmit()">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <span *ngIf="!name_pais.valid && name_pais.touched" class="label label-danger">El nombre es obligatorio</span>
                            <input type="text" #name_pais="ngModel" [(ngModel)]="pais.nombre" class="form-control" name="name_pais" placeholder="Ingrese el nombre del país" minlength="3" pattern="^[a-zA-ZáéíóúÁÉÍÓÚ\u00F1\u00D1]+$" required>
                        </div>
                    </div>
                    <button class="btn btn-primary waves-effect" type="submit" [disabled]="!formpais.form.valid">GUARDAR</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- #END# Advanced Validation -->