<div class="row clearfix" style="padding-top: 60px">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body"> 
                <form #formcomercio=ngForm (ngSubmit)="onsubmit()">
                    <!--Star Representante legal-->
                    <div class="header">
                        <h2>Registrar Representante Legal</h2>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="number" class="form-control" #creplegal="ngModel" [(ngModel)]="comercio.cedularl" name="creplegal" placeholder="Ingrese cédula del Representante Legal" required>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" #nrl="ngModel" name="nrl" [(ngModel)]="comercio.nombrerpl" required placeholder="Ingrese el nombre del Representante Legal" >
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="email" class="form-control" name="ereplegal"  #ereplegal="ngModel"  [(ngModel)]="comercio.emailrl" placeholder="Ingrese el email del Representate legal" >
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="cereplegal" #cereplegal="ngModel" [(ngModel)]="comercio.celularrl" placeholder="Ingrese el celular del Representante Legal">
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="telreplegal"  #telreplegal="ngModel" [(ngModel)]="comercio.telefonorl" placeholder="Ingrese el teléfono del Representante Legal">
                        </div>
                    </div>
                    <!--END registrar representante legal-->
                    <!--Star comercio-->
                    <div class="header">
                        <h2>Registrar Comercio</h2>
                    </div>    
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="namecomercio" #namecomercio="ngModel" [(ngModel)]="comercio.nombrecomercio" required placeholder="Ingrese nombre del comercio">
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="nit" #nit="ngModel" [(ngModel)]="comercio.nit" required placeholder="Ingrese el nit">
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <select class="form-control show-tick" name="selectcateg" #selectcateg="ngModel" [(ngModel)]="comercio.catc" [ngModelOptions]="{standalone: true}">
                                <option value="">-- Elija la categoria --</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <select class="form-control show-tick" name="selectsubcateg" #selectsubcateg="ngModel" [(ngModel)]="comercio.subcatc" [ngModelOptions]="{standalone: true}">
                                <option value="">-- Elija la subcategoria --</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                    </div>
                    <!--<div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="cedreplegal" #cedreplegal="ngModel" [(ngModel)]="comercio.nomrl" required placeholder="Ingrese nombre del representante legal">
                        </div>
                    </div>-->
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <select class="form-control show-tick" name="selectpais" #selectpais="ngModel" [(ngModel)]="comercio.npais" [ngModelOptions]="{standalone: true}">
                                <option value="">-- Elija el País --</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <select class="form-control show-tick" name="selectdpto" #selectdpto="ngModel" [(ngModel)]="comercio.ndep" [ngModelOptions]="{standalone: true}">
                                <option value="">-- Elija el Departamento --</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <select class="form-control show-tick" name="selectciudad" #selectciudad="ngModel" [(ngModel)]="comercio.nciu" [ngModelOptions]="{standalone: true}">
                                <option value="">-- Elija la Ciudad --</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                               <option value="40">40</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="address" #address="ngModel" [(ngModel)]="comercio.direccion" required placeholder="Ingrese dirección">
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <select class="form-control show-tick" name="selectregimen" #selectregimen="ngModel" [(ngModel)]="comercio.nregimen" [ngModelOptions]="{standalone: true}">
                                <option value="">-- Elija el regimen --</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                           <select class="form-control show-tick" name="selectiva" #selectiva="ngModel" [(ngModel)]="comercio.viva" [ngModelOptions]="{standalone: true}">
                                <option value="">-- Elija el iva --</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                               <option value="40">40</option>
                               <option value="50">50</option>
                          </select>
                        </div>
                    </div>
                <!--END registro comercio-->
                <!--Star registro sucursal-->
                    <div class="header">
                        <h2>Registrar Sucursal</h2>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="nsucursal" #nsucursal="ngModel" [(ngModel)]="comercio.nsucursal" placeholder="Ingrese el nombre de la sucursal" minlength="3" required>
                        </div>
                    </div>
                    <!--<div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="ndireccion" #ndireccion="ngModel" [(ngModel)]="comercio.dirsucu" required placeholder="Ingrese la dirección">
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="nciudad" #nciudad="ngModel" [(ngModel)]="comercio.ciusuc" required placeholder="Ingrese la ciudad donde esta ubicada">
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="ncomercio" #ncomercio="ngModel" [(ngModel)]="comercio.ncomersu" required placeholder="Ingrese comercio al que pertenecé">
                        </div>
                    </div>-->
                <!--END registro sucursal-->
                <!--Star registro usuario-->
                    <div class="header">
                        <h2>Registrar Usuario</h2>
                    </div>    
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="number" class="form-control" name="cuser" #cuser="ngModel" [(ngModel)]="comercio.cedulauser" required placeholder="Ingrese cédula del Usuario">
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="nuser" #nuser="ngModel" [(ngModel)]="comercio.nombreuser"  required placeholder="Ingrese el nombre del Usuario">
                            <span *ngIf="euser.touched && !euser.valid">El nombre es incorrecto</span>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="number" class="form-control" name="ceuser" #ceuser="ngModel" [(ngModel)]="comercio.celularuser" required placeholder="Ingrese el celular del Usuario">
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="email" class="form-control" name="euser" #euser="ngModel" [(ngModel)]="comercio.emailuser" required placeholder="Ingrese el email del Usuario" >
                            <span *ngIf="euser.touched && !euser.valid"><strong>correo es invalido</strong></span>
                        </div>
                    </div>    
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="password" class="form-control" name="claveuser" #claveuser="ngModel" [(ngModel)]="comercio.clave" required placeholder="Ingrese la clave">
                        </div>
                    </div>
                    <!--<div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="usercomercio" #usercomercio="ngModel" [(ngModel)]="comercio.comerciouser" required placeholder="Ingrese comercio al que pertenecé">
                        </div>
                    </div>-->
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <select class="form-control show-tick" name="selectrol" #selectrol="ngModel" [(ngModel)]="comercio.roluser" [ngModelOptions]="{standalone: true}">
                                <option value="">-- Elija rol en la empresa --</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                    </div>    
                <!--END registro usuario-->
                <!--Star registro caja-->
                    <div class="header">
                        <h2>Registrar Caja</h2>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="namecaja" #namecaja="ngModel" [(ngModel)]="comercio.ncaja" required placeholder="Ingrese nombre de la caja">
                        </div>
                    </div>
                    <!--<div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="nsucursalcaja" #nsucursalcaja="ngModel" [(ngModel)]="comercio.nsucucaja" required placeholder="Ingrese la sucursal a la que pertenecé">
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="nvendedor" required placeholder="Ingrese el vendedor de la caja">
                        </div>
                    </div>-->
                <!--END registro caja-->
                    <button class="btn btn-primary waves-effect" type="submit" [disabled]="!formcomercio.form.valid">GUARDAR</button>
                </form>
            </div>            
        </div>
    </div>
</div>
<!-- #END# Advanced Validation -->