<div class="row clearfix" style="padding-top: 60px">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body"> 
                <form #formcomercio=ngForm (ngSubmit)="onsubmit(formcomercio)">
                    <!--Star Representante legal-->
                    <div class="header">
                        <h2>Registrar Representante Legal</h2>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <span *ngIf="!creplegal.valid && creplegal.touched" class="label label-danger">La cedula es obligatoria</span>
                            <input type="number" class="form-control" #creplegal="ngModel" [(ngModel)]="comercio.cedularl" name="creplegal" placeholder="Ingrese cédula del Representante Legal" minlength="7" maxlength="10" pattern="[0-9]{7,10}" required>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <span *ngIf="!nrl.valid && nrl.touched" class="label label-danger">El nombre es obligatorio, no acepta números</span>
                            <input type="text" class="form-control" #nrl="ngModel" name="nrl" [(ngModel)]="comercio.nombrerpl" required placeholder="Ingrese el nombre del Representante Legal"  minlength="3" pattern="^[a-zA-ZáéíóúÁÉÍÓÚ\u00F1\u00D1 ]+$" required>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="email" class="form-control" name="ereplegal"  #ereplegal="ngModel"  [(ngModel)]="comercio.emailrl" placeholder="Ingrese el email del Representate legal" >
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="cereplegal" #cereplegal="ngModel" [(ngModel)]="comercio.celularrl" placeholder="Ingrese el celular del Representante Legal" maxlength="10" pattern="[0-9]+">
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="telreplegal"  #telreplegal="ngModel" [(ngModel)]="comercio.telefonorl" placeholder="Ingrese el teléfono del Representante Legal" maxlength="10" pattern="[0-9]+">
                        </div>
                    </div>
                    <!--END registrar representante legal-->
                    <!--Star comercio-->
                    <div class="header">
                        <h2>Registrar Comercio</h2>
                    </div>    
                    <div class="form-group form-float">
                        <div class="form-line">
                            <span *ngIf="!namecomercio.valid && namecomercio.touched" class="label label-danger">El nombre es obligatorio</span>
                            <input type="text" class="form-control" name="namecomercio" #namecomercio="ngModel" [(ngModel)]="comercio.nombrecomercio" placeholder="Ingrese nombre del comercio" minlength="3" pattern="^[a-zA-Z0-9áéíóúÁÉÍÓÚ\u00F1\u00D1 ]+$" required>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <span *ngIf="!nit.valid && nit.touched" class="label label-danger">El nit es obligatorio</span>
                            <input type="text" class="form-control" name="nit" #nit="ngModel" [(ngModel)]="comercio.nit"  placeholder="Ingrese el nit" maxlength="12" required>
                        </div>
                    </div>
                    <div class="row clearfix" >
                        <div class="col-sm-12">
                            <select class="form-control show-tick" name="selectcateg" #selectcateg="ngModel" [(ngModel)]="comercio.catc"   (ngModelChange)="onSelection()" required>
                                <option value="">-- Elija la categoria --</option>
                                <option *ngFor="let item of scategoria" value={{item.id_categoria}}>{{item.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="row clearfix" *ngIf="ssubcategoria">
                        <div class="col-sm-12">
                            <select class="form-control show-tick" name="selectsubcateg" #selectsubcateg="ngModel" [(ngModel)]="comercio.subcatc"  required>
                                <option value="">-- Elija la subcategoria --</option>
                                <option *ngFor="let item of ssubcategoria" value={{item.id_sub_cat}}>{{item.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row clearfix" *ngIf="!ssubcategoria">
                        <div class="col-sm-12">
                            <select class="form-control show-tick" name="selectsubcateg" #selectsubcateg="ngModel" [(ngModel)]="comercio.subcatc"  required>
                                <option value="">-- Elija la subcategoria --</option>
                            </select>
                        </div>
                    </div>
                    <!--<div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="cedreplegal" #cedreplegal="ngModel" [(ngModel)]="comercio.nomrl" required placeholder="Ingrese nombre del representante legal">
                        </div>
                    </div>-->
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <select class="form-control show-tick" name="selectpais" #selectpais="ngModel" [(ngModel)]="comercio.npais" (ngModelChange)="onSelectionpais()" [ngModelOptions]="{standalone: true}" required>
                                <option value="">-- Elija el País --</option>
                                <option *ngFor="let item of spais" value={{item.id_pais}}>{{item.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row clearfix" *ngIf="sdepartamento">
                        <div class="col-sm-12">
                            <select class="form-control show-tick"  name="selectdpto" #selectdpto="ngModel" [(ngModel)]="comercio.ndep" (ngModelChange)="onSelectiondepartamento()" [ngModelOptions]="{standalone: true}" required>
                                <option value="">-- Elija el Departamento --</option>
                                <option *ngFor="let item of sdepartamento" value={{item.id_departamento}}>{{item.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row clearfix" *ngIf="!sdepartamento">
                        <div class="col-sm-12">
                            <select class="form-control show-tick"  name="selectdpto" #selectdpto="ngModel" [(ngModel)]="comercio.ndep" [ngModelOptions]="{standalone: true}" required>
                                <option value="">-- Elija el Departamento --</option>
                            </select>
                        </div>
                    </div>
                    <div class="row clearfix" *ngIf="sciudad">
                        <div class="col-sm-12">
                            <select class="form-control show-tick" name="selectciudad" #selectciudad="ngModel" [(ngModel)]="comercio.nciu" [ngModelOptions]="{standalone: true}" required>
                                <option value="">-- Elija la Ciudad --</option>
                                <option *ngFor="let item of sciudad" value={{item.id_ciudad}}>{{item.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row clearfix" *ngIf="!sciudad">
                        <div class="col-sm-12">
                            <select class="form-control show-tick" name="selectciudad" #selectciudad="ngModel" [(ngModel)]="comercio.nciu" [ngModelOptions]="{standalone: true}" required>
                                <option value="">-- Elija la Ciudad --</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <span *ngIf="!address.valid && address.touched" class="label label-danger">La dirección es obligatorio</span>
                            <input type="text" class="form-control" name="address" #address="ngModel" [(ngModel)]="comercio.dirsucu" placeholder="Ingrese dirección" required>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <select class="form-control show-tick" name="selectregimen" #selectregimen="ngModel" [(ngModel)]="comercio.nregimen" [ngModelOptions]="{standalone: true}" required>
                                <option value="">-- Elija el regimen --</option>
                                <option *ngFor="let item of sregimen" value={{item.id_regimen}}>{{item.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                           <select class="form-control show-tick" name="selectiva" #selectiva="ngModel" [(ngModel)]="comercio.viva" [ngModelOptions]="{standalone: true}" required>
                                <option value="">-- Elija el iva --</option>
                                <option *ngFor="let item of siva" value={{item.id_iva}}>{{item.valor}}</option>
                          </select>
                        </div>
                    </div>
                <!--END registro comercio-->
                <!--Star registro sucursal-->
                    <div class="header">
                        <h2>Registrar Sucursal</h2>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <span *ngIf="!nsucursal.valid && nsucursal.touched" class="label label-danger">El nombre es obligatorio</span>
                            <input type="text" class="form-control" name="nsucursal" #nsucursal="ngModel" [(ngModel)]="comercio.nsucursal" placeholder="Ingrese el nombre de la sucursal" minlength="3" pattern="^[a-zA-Z0-9áéíóúÁÉÍÓÚ\u00F1\u00D1 ]+$" required>
                        </div>
                    </div>
                    <!--<div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="ndireccion" #ndireccion="ngModel" [(ngModel)]="comercio.dirsucu" required placeholder="Ingrese la dirección">
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="nciudad" #nciudad="ngModel" [(ngModel)]="comercio.ciusuc" required placeholder="Ingrese la ciudad donde esta ubicada">
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="ncomercio" #ncomercio="ngModel" [(ngModel)]="comercio.ncomersu" required placeholder="Ingrese comercio al que pertenecé">
                        </div>
                    </div>-->
                <!--END registro sucursal-->
                <!--Star registro usuario-->
                    <div class="header">
                        <h2>Registrar Usuario</h2>
                    </div>    
                    <div class="form-group form-float">
                        <div class="form-line">
                            <span *ngIf="!cuser.valid && cuser.touched" class="label label-danger">La cedula es obligatoria</span>
                            <input type="number" class="form-control" name="cuser" #cuser="ngModel" [(ngModel)]="comercio.cedulauser" required placeholder="Ingrese cédula del Usuario" maxlength="10">
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <span *ngIf="!nuser.valid && nuser.touched" class="label label-danger">El nombre es obligatorio, no acepta números</span>
                            <input type="text" class="form-control" name="nuser" #nuser="ngModel" [(ngModel)]="comercio.nombreuser"  required placeholder="Ingrese el nombre del Usuario" minlength="3" pattern="^[a-zA-Z0-9áéíóúÁÉÍÓÚ\u00F1\u00D1 ]+$">
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <span *ngIf="!ceuser.valid && ceuser.touched" class="label label-danger">El celular es obligatorio</span>
                            <input type="number" class="form-control" name="ceuser" #ceuser="ngModel" [(ngModel)]="comercio.celularuser" required placeholder="Ingrese el celular del Usuario" maxlength="10" pattern="[0-9]+">
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <span *ngIf="!euser.valid && euser.touched" class="label label-danger">El correo es obligatorios</span>
                            <input type="email" class="form-control" name="euser" #euser="ngModel" [(ngModel)]="comercio.emailuser" required placeholder="Ingrese el email del Usuario" >
                            
                        </div>
                    </div>    
                    <div class="form-group form-float">
                        <div class="form-line">
                            <span *ngIf="!claveuser.valid && claveuser.touched" class="label label-danger">La clave es obligatorios</span>
                            <input type="password" class="form-control" name="claveuser" #claveuser="ngModel" [(ngModel)]="comercio.clave" required placeholder="Ingrese la clave" minlength="8" pattern="^[a-zA-Z0-9áéíóúÁÉÍÓÚ\u00F1\u00D1 ]+$">
                        </div>
                    </div>
                    <!--<div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="usercomercio" #usercomercio="ngModel" [(ngModel)]="comercio.comerciouser" required placeholder="Ingrese comercio al que pertenecé">
                        </div>
                    </div>-->
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <select class="form-control show-tick" name="selectrol" #selectrol="ngModel" [(ngModel)]="comercio.roluser" [ngModelOptions]="{standalone: true}" required>
                                <option value="">-- Elija rol en la empresa --</option>
                                <option *ngFor="let item of srol" value={{item.id_rol}}>{{item.nombre}}</option>
                            </select>
                        </div>
                    </div>    
                <!--END registro usuario-->
                <!--Star registro caja-->
                    <div class="header">
                        <h2>Registrar Caja</h2>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <span *ngIf="!namecaja.valid && namecaja.touched" class="label label-danger">El nombre es obligatorio</span>
                            <input type="text" class="form-control" name="namecaja" #namecaja="ngModel" [(ngModel)]="comercio.ncaja" required placeholder="Ingrese nombre de la caja" minlength="3" pattern="^[a-zA-Z0-9áéíóúÁÉÍÓÚ\u00F1\u00D1 ]+$">
                        </div>
                    </div>
                    <!--<div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="nsucursalcaja" #nsucursalcaja="ngModel" [(ngModel)]="comercio.nsucucaja" required placeholder="Ingrese la sucursal a la que pertenecé">
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="nvendedor" required placeholder="Ingrese el vendedor de la caja">
                        </div>
                    </div>-->
                <!--END registro caja-->
                    <button class="btn btn-primary waves-effect" type="submit" [disabled]="!formcomercio.form.valid">GUARDAR</button>
                </form>
            </div>            
        </div>
    </div>
</div>
<!-- #END# Advanced Validation -->