<div class="row clearfix" style="padding-top: 60px" >
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
          <div class="header">
              <h1 style="text-align: center">Iniciar Sesión</h1>
          </div>
          <div class="body">
              <form #formlogin=ngForm (ngSubmit)="onsubmit()">
                  <div class="form-group form-float">
                      <div class="form-line">
                          <span *ngIf="!username.valid && username.touched" class="label label-danger">El nombre de usuario o email es obligatorio</span>
                          <input type="email" [(ngModel)]="login.username" class="form-control" #username="ngModel" name="username"  placeholder="Ingrese el usuario o email"  required>
                      </div>
                  </div>
                  <div class="form-group form-float">
                    <div class="form-line">
                        <span *ngIf="!userpassword.valid && userpassword.touched" class="label label-danger">Ingrese la clave</span>
                        <input type="password" [(ngModel)]="login.password" class="form-control" #userpassword="ngModel" name="userpassword"  placeholder="Ingrese la clave"  required>
                    </div>
                </div>
                  <button class="btn btn-primary waves-effect" type="submit" [disabled]="!formlogin.form.valid" >Iniciar Sesión</button>
                  <!--<div class="form-group form-float">Recordar Clave</div>-->
              </form>
          </div>
      </div>
  </div>
</div>